<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootdemo.dao.PhoneTypeDao">
    <select id="findTypeNameByTypeNumber" resultType="String" parameterType="String">
        select p.type_name from phone_type p
        <where>
            p.number_part = #{numberPart}
        </where>
    </select>
    <insert id="save" parameterType="com.example.springbootdemo.model.PhoneType">
        insert into phone_type values (#{number_part},#{type_name},#{type_remark})
    </insert>
    <update id="update" parameterType="com.example.springbootdemo.model.PhoneType" >
        update phone_type set type_name = #{type_name}
        <where>
            number_part = #{numberPart}
        </where>
    </update>
    <delete id="delete" parameterType="String">
        delete from phone_type
        <where>
            number_part = #{numberPart}
        </where>
    </delete>
</mapper>