<!DOCTYPE html>
<html lang="en">
<head>
    <title>count</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div style="text-align: center">
    <h1 id="test">发送ajax请求前</h1>
    <button id="btn">点击发送ajax请求</button>
</div>

</body>
<script>
    $(document).ready(function(){
        $("#btn").click(function(){
            $.ajax({url:"/ajax",success:function(result){
                    $("#test").text(result)
        }});
        });
    });
</script>
</html>